.listen {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3rem;
  position: relative;
  text-align: center;

  @media (min-width: 35em) {
    margin-top: 0;
  }

  &__apple {
    cursor: not-allowed;
    filter: grayscale(100%);
    opacity: .7;
  }

  &__label {
    background: #000;
    border-radius: .25rem;
    color: #fff;
    font-size: .75rem;
    font-weight: bold;
    line-height: 1;
    margin: 0;
    padding: .2rem .75rem;
    position: absolute;
    right: -.5rem;
    text-transform: uppercase;
    top: -.25rem;
    transform: rotate(8deg);
    z-index: 3;
  }
}
