.main {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  z-index: 2;

  @media (min-width: 35em) {
    flex-wrap: nowrap;
    height: 100%;
  }
}
