.title {
  align-items: center;
  color: #333;
  display: flex;
  margin-bottom: .25rem;

  &__badge {
    background: #ee4d76;
    border-radius: .5rem;
    color: #fff;
    display: inline-block;
    font-size: .875rem;
    line-height: 1;
    margin-right: .5rem;
    padding: .15rem .5rem;
    text-align: center;
  }
}
